<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="container d-flex justify-content-center">
    <h1>My Library of Books - import page</h1>
    </div>
    <div class="container">
    <div class="row">
      <div class="col-md-3">&nbsp;</div>
      <div class="col-md-6">
        <form class="card card-sm" action="{% url 'books_import' %}" method="get">
          <div class="card-body row no-gutters align-items-center">
            <div class="col-md-6">
              <input type="search" name="keywords" placeholder="Search" class="form-control form-control-borderless">
            </div>
          </div>
          <div class="card-body row no-gutters align-items-center">
            <div class="col-md-6">
              <input type="search" name="intitle" placeholder="Search by title" class="form-control form-control-borderless">
            </div>
          </div>
          <div class="card-body row no-gutters align-items-center">
            <div class="col-md-6">
              <input type="search" name="inauthor" placeholder="Search by author" class="form-control form-control-borderless">
            </div>
          </div>
          <div class="card-body row no-gutters align-items-center">
            <div class="col-md-6">
              <input type="search" name="inpublisher" placeholder="Search by publisher" class="form-control form-control-borderless">
            </div>
          </div>
          <div class="card-body row no-gutters align-items-center">
            <div class="col-md-6">
              <input type="search" name="subject" placeholder="Search by subject" class="form-control form-control-borderless">
            </div>
          </div>
          <div class="card-body row no-gutters align-items-center">
            <div class="col-md-3">
              <input type="search" name="isbn" placeholder="ISBN" class="form-control form-control-borderless">
            </div>
            <div class="col-md-1">&nbsp</div>
            <div class="col-md-3">
              <input type="search" name="lccn" placeholder="LCCN" class="form-control form-control-borderless">
            </div>
          </div>
          <div class="card-body row no-gutters align-items-center">
            <div class="col-md-3">
              <input type="search" name="oclc" placeholder="OCLC" class="form-control form-control-borderless">
            </div>
            <div class="col-md-1">&nbsp</div>
            <div class="col-auto">
              <button class="btn btn-success" type="submit">Import</button>

            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-3">&nbsp;</div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
