<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>My Library</title>
  <meta name="description" content="A simple page using google books API.">
  <meta name="author" content="Adam Pałucki">

  <link rel="icon" href="/favicon.ico">
  <link rel="icon" href="/favicon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">

  <link rel="stylesheet" href="{% static 'book.style.css'%}"
</head>

<body>
  <!-- your content here... -->

</body>
